{% extends "base.html.j2" %}

{% block header %}
<h1>
    {% block title %}
    Answers
    {% endblock title %}
</h1>
{% endblock header %}

{% block content %}
<p>
    {{para}}
</p>

<section>
    {% for q, a in qnas.items() %}
    <div class="q">
        <p>প্রশ্ন: {{q}}</p>
    </div>

    <div class="a">
        <p>উত্তর: {{a}}</p>
    </div>
    {% endfor %}
</section>

<div>
    <a href="{{ url_for('application.qna') }}" class="btn btn-primary">
        Try Another!
    </a>
</div>
{% endblock content %}