{% extends "base.html.j2" %}

{% block header %}
<h1>
    {% block title %}
    Question and Answer Input Page
    {% endblock title %}
</h1>
{% endblock header %}

{% block content %}
<form method="post">
    <div class="mb-3">
        <label for="context" class="form-label">Context Paragraph:</label>
        <textarea name="context" id="context" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="question1" class="form-label">Question 1:</label>
        <input type="text" name="question1" class="form-control">
    </div>
    <div class="mb-3">
        <label for="quesiton2" class="form-label">Question 2:</label>
        <input type="text" name="question2" class="form-control">
    </div>
    <div class="mb-3">
        <label for="question3" class="form-label">Question 3:</label>
        <input type="text" name="question3" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">
        Get The Answers
    </button>
</form>

{% endblock content %}