<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} ">
    <title>{% block title %}{%endblock%} - Prosnottor</title>
</head>

<body>
    <header>
        {% block header %}

        {% endblock header %}
    </header>

    <section class="content">
        {% block content %}

        {% endblock content %}
    </section>

    <footer>
        Source Code at: <a href="https://github.com/m4hi2/prosnottor">Github</a>
        {% block footer %}

        {% endblock footer %}
    </footer>
</body>

</html>